*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff; /* Change background color to white */
}

form {
    height: 520px;
    width: 400px;
    margin-top: -40px;
    background: linear-gradient(to right, #f0f0f0, #e0e0e0); /* Use the same gradient color as the login page */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    transition: background 0.3s ease; /* Add a smooth transition for color change */
}

form:hover {
    background: linear-gradient(to right, #d0d0d0, #c0c0c0);
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #000000; /* Change text color to black */
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

input {
    display: block;
    height: 40px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.07);
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 2px;
    font-size: 14px;
    font-weight: 300;
    color: #000000;
}

::placeholder {
    color: #4a4a4a; /* Change placeholder color */
}

button {
    margin-top: 14px;
    width: 100%;
    background-color: #000000; /* Change button color to black */
    color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition for color change */
}

button:hover {
    background-color: #333333; /* Change the background color on hover */
}

a.create-account {
    display: block;
    margin-top: 15px; /* Adjust the margin-top value to your preference */
    width: 60%;
    background-color: #967900;
    color: #ffffff;
    padding: 9px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Add a smooth transition for color change */
    text-align: center; /* Center the text */
    margin-left: 20%; /* Adjust the margin-left value to center the button */
}

a.create-account:hover {
    background-color: #333333; /* Change the background color on hover */
}