<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>Forex Pioneer - Forgot Password</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'forex/forget_password.css' %}"/>

</head>

<body>
<h1 style="text-align: center; padding-top: 20px; font-family: 'Poppins', sans-serif; font-size: 36px;">FOREX
    PIONEER</h1>
<form action="" method="post">
    {% csrf_token %}
    <h3>Forgot Password</h3>

    <label for="email">Email</label>
    <input type="email" placeholder="Enter your email" name="email" id="email">

    <button type="submit">Reset Password</button>

    <a class="create-account" href="{% url 'forexPioneer:login' %}">Back to Login</a>
</form>
</body>
</html>