<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>Login Page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'forex/login.css' %}"/>
</head>
<body>
<div class="background-container">
    <form method="post">
        <h3>Let's Go</h3>
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" placeholder="Enter Username" id="username" name="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="pass">

        <div class="forgot-password">
            <a href="{% url 'forexPioneer:forgot_password' %}">Forgot Password?</a>
        </div>
        <button type="submit">Log In</button>
        <button class="create-account" type="button" onclick="window.location.href='{% url 'forexPioneer:signup' %}'">Create an
            account
        </button>
    </form>
</div>
</body>
</html>