<html>
 <head>
 <title>Buy cool new product</title>
 <script src="https://js.stripe.com/v3/"></script>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
 </head>
 <body>
<div class="container">
<h1>Place an order here</h1>
<form id="checkout-form" method="POST" action="{% url 'forexPioneer:checkout' %}">
      {% csrf_token %}
    </form>
 <button type="button" class="btn btn-lg btn-primary" id="checkout-button">Checkout</button>
</div>
 <script type="text/javascript">
document.addEventListener('DOMContentLoaded', function () {
    var stripe = Stripe('pk_test_51OEHsHItbrf8SNTB3RnCuQm8eM2Zf4PEXgtaC6vfQtNXgTX2xLNtzTb7keRGKhHgjsaKKUKS9O7MqIAZWIIaqMxg001942BbDN');
    var checkoutButton = document.getElementById('checkout-button');

    checkoutButton.addEventListener('click', function () {
        // Fetch CSRF token from the cookies
        var csrfToken = getCookie('csrftoken');

        // Create a new Checkout Session using the server-side endpoint
        fetch('{% url "forexPioneer:checkout" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
            },
            // Other options and body
        })
        .then(function (response) {
            return response.json();
        })
        .then(function (session) {
            return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
            if (result.error) {
                alert(result.error.message);
            }
        })
        .catch(function (error) {
            console.error('Error:', error);
        });
    });
});

// Function to get CSRF token from cookies
function getCookie(name) {
    var value = "; " + document.cookie;
    var parts = value.split("; " + name + "=");
    if (parts.length == 2) return parts.pop().split(";").shift();
}
</script>
 </body>
</html>