{% extends 'forexPioneer/base.html' %}

{% block title %}Currency Details{% endblock %}

{% block content %}
    <h1>{{ crypto_name }} Details</h1>

    {% if selected_crypto %}
        <p>Price (USD): {{ selected_crypto.price.price }}</p>
        <p>Percent Change (1h): {{ selected_crypto.Percent_change_1h }}</p>
        <p>Percent Change (24h): {{ selected_crypto.Percent_change_24h }}</p>
        <p>Market Cap: {{ selected_crypto.Market_cap }}</p>
        <p>Volume (24h): {{ selected_crypto.Volume_24h }}</p>
        <!-- Add more details as needed -->
        <button onclick="buyCrypto('{{ crypto_name }}', {{ selected_crypto.price.price }})">Buy</button>
    {% else %}
        <p>Details not available for {{ crypto_name }}</p>
    {% endif %}

    <a href="{% url 'forexPioneer:index' %}">Back to Coin Market Data</a>

    <script>
        function buyCrypto(cryptoName, price) {
            // You can implement the logic for buying cryptocurrency here
            alert(`Buying ${cryptoName} for ${price} USD`);
        }
    </script>
{% endblock %}
