{% extends 'forexPioneer/base.html' %}
{% load static %}

{% block title %}Forex Pioneer - Forgot Password{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'forex/forget_password.css' %}"/>
{% endblock %}

{% block content %}
    <h1 style="text-align: center; padding-top: 20px; font-family: 'Poppins', sans-serif; font-size: 36px;">FOREX PIONEER</h1>
    <form action="{% url 'forexPioneer:forgot_password' %}" method="post">
        {% csrf_token %}
    <h3>Forgot Password</h3>

    <label for="email">Email</label>
    <input type="email" placeholder="Enter your email" name="email" id="email">

    <button type="submit">Reset Password</button>

    <a class="create-account" href="{% url 'forexPioneer:login' %}">Back to Login</a>
    </form>
{% endblock %}
