{% extends 'forexPioneer/base.html' %}
{% load static %}

{% block title %}Login Page{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'forex/login.css' %}"/>
{% endblock %}

{% block content %}
    <div class="background-container">
        <form method="post">
        <h3>Let's Go</h3>
        {% csrf_token %}

        {{ form.as_p }}

        <div class="forgot-password">
            <a href="{% url 'forexPioneer:forgot_password' %}">Forgot Password?</a>
        </div>
        <button type="submit">Log In</button>
        <button class="create-account" type="button" onclick="window.location.href='{% url 'forexPioneer:signup' %}'">Create an
            account
        </button>
    </form>
    </div>
{% endblock %}