
<!-- forexPioneer/reset_password_form.html -->
{% extends 'forexPioneer/base.html' %}
{% load static %}
{% block title %}Reset Password - Forex Pioneer{% endblock %}

{% block extra_css %}
    <!-- Add any additional CSS specific to the reset password form -->
    <link rel="stylesheet" href="{% static 'forex/reset_password.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Reset Password</h2>
        <form action="{% url 'forexPioneer:reset_password_submit' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="token" value="{{ token }}">

            <label for="new_password">New Password</label>
            <input type="password" name="new_password" required>

            <label for="confirm_password">Confirm Password</label>
            <input type="password" name="confirm_password" required>

            <button type="submit">Reset Password</button>
        </form>
    </div>
{% endblock %}
