{% extends 'forexPioneer/base.html' %}
{% load static %}

{% block title %}Forex Pioneer{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'forex/signup.css' %}"/>
{% endblock %}

{% block content %}
    <h1 style="text-align: center; padding-top: 20px; font-family: 'Poppins', sans-serif; font-size: 36px;">FOREX PIONEER</h1>
    <form action="" method="post">
        {% csrf_token %}
    <h3>Open an Account</h3>

    <label for="username">Username</label>
    <input type="text" placeholder="Username" name="username" id="username">

    <label for="email">Email</label>
    <input type="email" placeholder="Email or Phone" name="email" id="email">

    <label for="password1">Password</label>
    <input type="password" placeholder="Password" id="password1" name="password1">

    <label for="password2">Confirm Password</label>
    <input type="password" placeholder="Confirm Password" id="password2" name="password2">
    <button type="submit">Create Account</button>

    <a class="create-account" href="{% url 'forexPioneer:login' %}">I already have an account</a>
    </form>
{% endblock %}
